
# Accessing Data within Pandas - Lab

## Introduction

In this lab, we'll look at a data set which contains information World cup matches. Let's use the pandas commands learned in the previous lecture to learn more about our data!

## Objectives
You will be able to:
* Understand and explain some key Pandas methods
* Access DataFrame data by using the label
* Perform boolean indexing on both Series and DataFrames
* Use simple selectors for series
* Set new Series and DataFrame inputs

## Load the data

Load the file `WorldCupMatches.csv` as a dataframe in Pandas

In [1]:
import pandas as pd

/opt/conda/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/opt/conda/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

## Common methods and attributes

Use the correct method to look at the first 7 rows of the data set.

In [3]:
df = pd.read_csv('WorldCupMatches.csv', delimiter = '\t')
df.head(7)

  Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0  1930,"13 Jul 1930 - 15:00 ",Group 1,Pocitos,"M...
1  1930,"13 Jul 1930 - 15:00 ",Group 4,Parque Cen...
2  1930,"14 Jul 1930 - 12:45 ",Group 2,Parque Cen...
3  1930,"14 Jul 1930 - 14:50 ",Group 3,Pocitos,"M...
4  1930,"15 Jul 1930 - 16:00 ",Group 1,Parque Cen...
5  1930,"16 Jul 1930 - 14:45 ",Group 1,Parque Cen...
6  1930,"17 Jul 1930 - 12:45 ",Group 2,Parque Cen...

Look at the last 3 rows of the data set.

In [4]:
df.tail(3)

     Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
4569                                ,,,,,,,,,,,,,,,,,,,
4570                                ,,,,,,,,,,,,,,,,,,,
4571                                ,,,,,,,,,,,,,,,,,,,

Get a concise summary of your data using `.info()`

In [5]:
df.info

<bound method DataFrame.info of      Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0     1930,"13 Jul 1930 - 15:00 ",Group 1,Pocitos,"M...
1     1930,"13 Jul 1930 - 15:00 ",Group 4,Parque Cen...
2     1930,"14 Jul 1930 - 12:45 ",Group 2,Parque Cen...
3     1930,"14 Jul 1930 - 14:50 ",Group 3,Pocitos,"M...
4     1930,"15 Jul 1930 - 16:00 ",Group 1,Parque Cen...
5     1930,"16 Jul 1930 - 14:45 ",Group 1,Parque Cen...
6     1930,"17 Jul 1930 - 12:45 ",Group 2,Parque Cen...
7     1930,"17 Jul 1930 - 14:45 ",Group 4,Parque Cen...
8     1930,"18 Jul 1930 - 14:30 ",Group 3,Estadio Ce...
9     1930,"19 Jul 1930 - 12:50 ",Group 1,Estadio Ce...
10    1930,"19 Jul 1930 - 15:00 ",Group 1,Estadio Ce...
11    1930,"20 Jul 1930 - 13:00 ",Group 2,Estadio Ce...
12    1930,"20 Jul 1930 - 15:00 ",Group 4,Estadio Ce...
13    1930,"21 Jul 1930 - 14:50 ",Group 3,Estadio Ce...
14    1930,"22 Jul 1930 - 14:45 ",Group 1,Estadio Ce...
15    1930,"26 Jul 1930 - 14:45 ",Semi-finals,Estadi...
16    1930,"27 Jul 1930 - 14:45 ",Semi-finals,Estadi...
17    1930,"30 Jul 1930 - 14:15 ",Final,Estadio Cent...
18    1934,"27 May 1934 - 16:30 ",Preliminary round,...
19    1934,"27 May 1934 - 16:30 ",Preliminary round,...
20    1934,"27 May 1934 - 16:30 ",Preliminary round,...
21    1934,"27 May 1934 - 16:30 ",Preliminary round,...
22    1934,"27 May 1934 - 16:30 ",Preliminary round,...
23    1934,"27 May 1934 - 16:30 ",Preliminary round,...
24    1934,"27 May 1934 - 16:30 ",Preliminary round,...
25    1934,"27 May 1934 - 16:30 ",Preliminary round,...
26    1934,"31 May 1934 - 16:30 ",Quarter-finals,Sta...
27    1934,"31 May 1934 - 16:30 ",Quarter-finals,San...
28    1934,"31 May 1934 - 16:30 ",Quarter-finals,Gio...
29    1934,"31 May 1934 - 16:30 ",Quarter-finals,Lit...
...                                                 ...
4542                                ,,,,,,,,,,,,,,,,,,,
4543                                ,,,,,,,,,,,,,,,,,,,
4544                                ,,,,,,,,,,,,,,,,,,,
4545                                ,,,,,,,,,,,,,,,,,,,
4546                                ,,,,,,,,,,,,,,,,,,,
4547                                ,,,,,,,,,,,,,,,,,,,
4548                                ,,,,,,,,,,,,,,,,,,,
4549                                ,,,,,,,,,,,,,,,,,,,
4550                                ,,,,,,,,,,,,,,,,,,,
4551                                ,,,,,,,,,,,,,,,,,,,
4552                                ,,,,,,,,,,,,,,,,,,,
4553                                ,,,,,,,,,,,,,,,,,,,
4554                                ,,,,,,,,,,,,,,,,,,,
4555                                ,,,,,,,,,,,,,,,,,,,
4556                                ,,,,,,,,,,,,,,,,,,,
4557                                ,,,,,,,,,,,,,,,,,,,
4558                                ,,,,,,,,,,,,,,,,,,,
4559                                ,,,,,,,,,,,,,,,,,,,
4560                                ,,,,,,,,,,,,,,,,,,,
4561                                ,,,,,,,,,,,,,,,,,,,
4562                                ,,,,,,,,,,,,,,,,,,,
4563                                ,,,,,,,,,,,,,,,,,,,
4564                                ,,,,,,,,,,,,,,,,,,,
4565                                ,,,,,,,,,,,,,,,,,,,
4566                                ,,,,,,,,,,,,,,,,,,,
4567                                ,,,,,,,,,,,,,,,,,,,
4568                                ,,,,,,,,,,,,,,,,,,,
4569                                ,,,,,,,,,,,,,,,,,,,
4570                                ,,,,,,,,,,,,,,,,,,,
4571                                ,,,,,,,,,,,,,,,,,,,

[4572 rows x 1 columns]>

Obtain a tuple representing the number of rows and number of columns

In [6]:
df.shape

(4572, 1)

Use the appropriate attribute to get the column names

In [8]:
df.loc[5:9,["Home Team Name", "Away Team Name"]]

KeyError: "None of [['Home Team Name', 'Away Team Name']] are in the [columns]"

## Selecting dataframe information

When looking at the dataframe's `.head()`, you might have noticed that the games are structured chronologically in the dataframe.

Use the right selection method to print all the information from the 3rd to the 5th game.

Now, print all the info from game 5-8, but we're only interested to print out the "Home Team Name" and the "Away Team Name",

Next, we'd like the information on all the games played in Group 3 for the 1950 World Cup.

Let's repeat the command above, but now we only want to print out the attendance colum for the Group 3 games

You can combine conditions like this:

`df[(condition1) | (condition2)]`  -> Returns rows where either condition is true

`df[(condition1) & (condition2)]`  -> Returns rows where both conditions are true

Throughout the entire history of the world cup, How many Home games were played by the Netherlands?

How many games were playes by the Netherlands in total?

Next, let's try and figure out how many games the USA played in the 2014 world cup.

Now, let's try to find out how many countries participated in the 1986 world cup.

Hint 1: as a first step, create a new data set that only contain games in that year.

Hint 2: You can use `.unique()` to make sure you don't end up with duplicate country names.

In the world cup history, how matches had more than 5 goals in total?

## Changing values and creating new columns

With the information you currently have in your `df`, create a new column "Half-time Goals".

Run the code below. You'll notice that for Korea, there are records for both North-Korea (Korea DPR) and South-Korea (Korea Republic).

In [ ]:
df.loc[df["Home Team Name"].str.contains('Korea'), "Home Team Name" ]

Imagine that for some reason, we simply want Korea listed as one entry, so we want to replace every "Home Team Name" and "Away Team Name" entry that contains "Korea" to simply "Korea". In the same way, we want to change the columns "Home Team Initials" and "Away Team Initials" to NSK (North & South Korea) instead of "KOR" and "PRK".

Make sure to verify your answer!